<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>directory App</title>
	<link rel="stylesheet" type="text/css" href="/Content/bootstrap.css"/>
	<script src="/Scripts/jquery-2.0.3.min.js"></script>
	<script src="/Scripts/bootstrap.js"></script>
	<script src="/Scripts/angular.js"></script>
	<script src="/Scripts/angular-resource.js"></script>
	<script src="/Scripts/angular-route.js"></script>
	<style>
		.col-md-4 {
			border: 1px solid  #00ff00;
		}
		li:hover {
			border: 1px solid  #00bfff;
		}
	</style>			
</head>
<body style="padding: 20px 30%;  text-align: left">
	<h2>Browse Directories</h2>
<div ng-app="myapp" ng-controller="dirCtrl">
	<div class="row">

		<div class="col-md-4">
			<div>
				Less than 10Mb
			</div>
			<div>
				{{filesSmall}}
			</div>
		</div>

		<div class="col-md-4">
			<div>
				10Mb-50Mb
			</div>

			<div>
				{{filesMedium}}
			</div>
		</div>
		<div class="col-md-4">
			<div>
				More 50Mb
			</div>

			<div>
				{{filesHeight}}
			</div>
		</div>
	</div>
	<div style="height: 30px; padding: 10px 0">Current directory: {{currentDir}}</div>

	<div>
		<ul id="dirList" style="list-style-type: none; padding-top: 20px;">
			<li style="padding: 5px 20px;" ng-repeat="x in directories" ng-click="click(this)">
				<a href="#{{x.Path}}"> {{x.Name}}</a>
			</li>
		</ul>
	</div>
	<div>{{message}}</div>

</div>
<script type="text/javascript" src="/Scripts/angular.min.js"></script>

<script src="Scripts/app/dirManager.js"></script>
<!--<script src="Scripts/app/dirManagerClient.js"></script>-->

<!--<div>
	<h2>All Directories</h2>
	<ul id="directories" style="List-style-type:none;"/>
</div>
<div>
	<h2>Search by ID</h2>
	<input type="text" id="dirId" size="5"/>
	<input type="button" value="Search" onclick="find();"/>
	<p id="directory"/>
</div>

<script>
	var uri = 'api/directories';

	$(document).ready(function () {
	  // Send an AJAX request
	  $.getJSON(uri)
		  .done(function (data) {
		  	// On success, 'data' contains a list of directories.
		  	FillList(data);
		  });
	});

	function FillData(data) {
		$('<li>')
			.add('<a>', { href: '-1', text: '../' })
			.appendTo($('#directories'));
		FillList(data);
	}

	function FillList(data) {
		$.each(data, function(key, item) {
			// Add a list item for the directory.
			($('<li>').append
				('<a  href="#' + item.Id + '" class="dir" onclick="BrowseDirectory(this)">' + item.Name + '</a>'))
				.appendTo($('#directories'));
		});
	}

	function BrowseDirectory(a) {
		//var id = (a).href.split('/').pop().replace('#', '');
		var id = (a).innerText;
		if (id==="../") {
			id = 0;
		}
		$.getJSON(uri + '/' + id)
			.done(function (data) {
				var myNode = document.getElementById("directories");
				while (myNode.firstChild) {
					myNode.removeChild(myNode.firstChild);
				}
				//('#directories').innerHTML="";
				FillList(data);
			})
			.fail(function (jqXHR, textStatus, err) {
				$('#directory').text('Error: ' + err);
			});
	};

	function formatItem(item) {
	  return item.Id + ':	' + item.Name;
	}

	function find() {
	  var id = $('#dirId').val();
	  $.getJSON(uri + '/' + id)
		  .done(function (data) {
			$('#directory').text(formatItem(data));
		  })
		  .fail(function (jqXHR, textStatus, err) {
			$('#directory').text('Error: ' + err);
		  });
	}
	</script>-->
</body>
</html>